/* page-wide styling */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 25px;
}

/* Paragraphs */
p {
  margin: 10px;
}
table.simple p {
  margin:0px;
}

/* styling the basic table */
table.simple {
  border-width: 1px;
  border-color: black;
  border-style:solid;
  border-spacing: 0px;
}

table.simple td,
table.simple th {
  padding: 7px;
  text-align: left;
  border-width: 1px;
  border-color: black;
  border-style:solid;
  border-spacing: 0px;
}

table.simple td.heading {
  color: white;
  background-color: black;
  padding: 5px;
  font-weight:bold;
}

table.simple td.label {
  font-weight: bold;
}

